version: "3.8"
services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    restart: unless-stopped
    networks:
      - kafka_ok_default   # conecta apenas à rede externa
volumes:
  grafana-storage:

networks:
  kafka_ok_default:
    external: true   # indica que a rede já existe (criada pelo outro compose)
